# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# Platform runners generated later
android/
ios/
linux/
macos/
web/
windows/
